<section id="oak_project" class="project" xmlns="http://www.w3.org/1999/html">
    <h4 class="project_title">Oak</h4>
    <div class="project_summary_row">
        <div id="project_oak_video" class="embedded_videos">
            <iframe style="border: 3px solid #EEE"; width="500" height="350" src="https://www.youtube.com/embed/2veW9yznFdU" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="project_info">
            <p class="project_languages"><strong>Languages / frameworks</strong>: java, maven</p>
            <p class="project_description">
                Oak is a way of creating ocarina video and PDF tutorials.
                It takes a midi file and maps the notes to ocarina tabs
                and processes them into a complete tutorial.
            </p>
            <a class="github_link" href="https://github.com/ryanmccauley211/Oak">Visit oak at github</a>
        </div>
    </div>
    <h5 class="project_features_heading">Features</h5>
    <ul class="project_feature_list">
        <li>Outputs an mp4 and/or a PDF with ocarina tabs.</li>
        <li>Packaged with an ocarina soundfont to output realistic audio</li>
        <li>Add your own custom background</li>
        <li>Frame rate and audio offset can be set to fine-tune video/audio sync.</li>
        <li>Add custom text to introduce the video, useful for including website links and contact info.</li>
    </ul>

    {{if .oak.Loaded}}
        <h5 class="todo_list_heading">Progress</h5>
        <ul id="oak_todo" class="todo_list">
        {{range $completedItem := .oak.Checked}}
            <li class="todo_item todo_checked_item">
                <input type="checkbox" id disabled checked>
            {{$completedItem}}
            </li>
        {{end}}
        {{range $todoItem := .oak.Unchecked}}
            <li class="todo_item todo_unchecked_item">
                <input type="checkbox" id disabled>
            {{$todoItem}}
            </li>
        {{end}}
        {{range $delItem := .oak.Deleted}}
            <li class="todo_item todo_deleted_item">
                <input type="checkbox" id disabled>
                <del>
                {{$delItem}}
                </del>
            </li>
        {{end}}
        </ul>
    {{end}}
</section>