#about_title_row {
    display: flex;
    justify-content: space-between;
}

#about_title {
    flex: 1;
    text-align: center;
}

#about_me_section {
    display: flex;
    text-align: justify;
}

#about_me_content{
    flex-grow: 6;
    flex-basis: 0;
}