#articles_page_wrapper {
    display: flex;
    flex-direction: row;
}

#article_list {
    display: flex;
    flex: 8;
    flex-direction: column;
    padding-top: 50px;
}

.article_wrapper {
    display: flex;
    border: gray 3px inset;
    margin-bottom: 30px;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 15px;
}

.article_title {
    align-self: center;
    font-size: 35px;
    padding: 10px;
}

.article_date {
    font-size: 16px;
    color: #777777;
    padding: 10px 20px 2px 20px;
}

.article_tags_list {
    padding: 2px 20px 10px 20px;
}

.article_tags_list li {
    display: inline-block;
    color: #777777;
    text-decoration: underline;
    font-style: italic;
    padding-right: 10px;
}

.article_sub_heading {
    font-size: 24px;
    margin: 10px 20px;
}

.article_conclusion_heading {
    font-size: 20px;
    text-decoration: underline;
}

.article_content_block_paragraph {
    font-size: 20px;
    padding: 0 20px;
    text-align: justify;
}

/*!*SIDE SEARCH PANEL*!*/

#tag_search_panel {
    background-color: #2d2d2d;
    margin-right: 10px;
    padding-right: 30px;
}

#articles_search_box {
    margin: 10px;
}

#article_search_tag_list {
    display: none;
}

#article_search_tag_list li {
    padding: 5px 10px;
    margin: 10px 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.resources_heading {
    font-size: 20px;
    margin: 40px 20px 15px 20px;
}

.resources_list {
    margin: 20px 20px 20px 60px;
}

.resources_list li {
    font-size: 16px;
}

.collapse_article, .expand_article {
    position: relative;
    top: 0;
    left: 0;
}

.collapse_article img, .expand_article img {
     background-color: white;
 }

.collapse_article img:hover, .expand_article img:hover {
    cursor: pointer;
}

.code-toolbar {
    padding-top: 20px;
}

.article_content_block_paragraph {
    width: 80vw;
    height: 100%;
    overflow: scroll;
}

@media only screen and (max-width: 376px) {

    #article_list {
        min-width: 0;
    }

    p {
        font-size: 2vw;
    }
}