html {
    height: 100%;
}

body {
    height: 100%;
}

#contact-page-container {
    height: 100%;
    width: 100%;
    background-color: #FEFEFE;
    display: grid;
    grid-template-columns: auto 25% 25% 25% auto;
    grid-template-rows: 30% auto auto 5%;
    grid-column-gap: 5%;
    grid-row-gap: 2%;
    align-items: stretch;
}

#contact-header {
    grid-column: 2 / 5;
    text-align: center;
    align-self: end;
    font-size: 7vmin;
    padding: 2vmin 0;
    margin-bottom: 2vmin;
}

hr {
    margin: 5vmin 30vmin;
}

#hire-box {
    grid-column-start: 2;
    grid-row-start: 2;
}

#contribute-box {
    grid-column-start: 3;
    grid-row-start: 2;
}

#other-box {
    grid-column-start: 4;
    grid-row-start: 2;
}

.contact-box-headings {
    font-size: 4vmin;
    padding: 0 8px 10px 8px;
}

.contact-box-messages {
    font-style: italic;
    font-size: 3vmin;
    padding: 0 8px;
}

#hire-box, #contribute-box, #other-box {
    border: 3px groove #9a9a9a;
}

#hire-box:hover, #contribute-box:hover, #other-box:hover {
    color: honeydew;
    background-color: #121212;
    cursor: pointer;
}

.contact-bottom-menu {
    grid-column: 1 / end;
    grid-row-start: 4;
    background-color: #da635d;

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

.contact-bottom-menu-item {
    font-size: 4vmin;
}

.contact-bottom-menu-item a {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #343434;
}

.contact-bottom-menu-item a:hover {
    color: #eeeeee;
}

@media only screen and (max-width: 550px) {

    #hire-box, #contribute-box, #other-box {
        max-height: 180px;
    }
    #hire-box p, #contribute-box p, #other-box p {
        font-size: 2.5vmin;
    }
}