#header_row {
    display: flex;
    z-index: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px 0 20px 0;
}

#name_heading, #name_heading a {
    flex: 1;
    text-align: center;
    font-size: 34px;
    margin-right: 10px;
    background-color: white;
    color: transparent;
    text-shadow: 1px 3px 4px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    font-family: 'Noto Sans', sans-serif;
}

#main_nav_list a:link, #main_nav_list a:visited {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color: #999999
}

#main_nav_list a {
    transition: color 0.4s;
    vertical-align: bottom;
}

#main_nav_list a:hover {
    cursor: pointer;
    color: crimson;
}

.main_nav_beams {
    height: 7px;
    background-color: #423B41;
    z-index: 0;
}

#main_nav {
    flex: 3;
    align-self: center;
    padding-right: 10px;
}

#main_nav_list {
    display: flex;
    justify-content: space-evenly;
}

#main_nav_list li {
    display: inline-block;
    list-style-type: none;
    padding: 0 2px;
}

.selected_main_menu_item {
    font-weight: bold;
    color: honeydew;
}

.unselect_menu_items {
    border-bottom: 0;
}

@media only screen and (max-width: 872px) {
    #name_heading a {
        font-size: 25px;
    }

    #main_nav_list a:link, #main_nav_list a:visited {
        font-size: 15px;
    }
}

#burger_menu a {
    display: none;
}

#menu_toggle input {
    display: none;
}

.main_menu_dropdown_item a {
    display: none;
}

@media only screen and (max-width: 644px) {

    .main_menu_item a {
        display: none;
    }

    #name_heading {
        flex: 2;
        align-self: center;
    }

    #menu_toggle
    {
        display: block;
        position: relative;

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menu_toggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    #menu_toggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #FFFFFF;
        border-radius: 3px;

        z-index: 1;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    /* Rotate first bar */
    #menu_toggle input:checked ~ #bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 4px) ;
        transform: rotate(-45deg) translate(-6px, 4px) ;
    }

    /* Fade out the second bar */
    #menu_toggle input:checked ~ #bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    #menu_toggle input:checked ~ #bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }

    #menu
    {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -120px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0 0;
        transform: translate(150%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu  {
        background-color: rgba(255,255,255,0.8);
        display: none;
    }

    .main_menu_dropdown_item a {
        display: block;
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
        display: block;
    }

    #menu li a:link, #menu li a:visited, #menu li a:hover, #menu li a:active {
        opacity: 1;
        color: black;
    }

    #menu li a:hover {
        color: coral;
    }

    #menu_toggle input:checked ~ ul {
        transform: none;
        display: block;
    }

    #name_heading {
        margin-right: 0;
    }
}