#projects_page_wrapper {
    display: flex;
    flex-direction: row;
}

#project_list {
    display: flex;
    flex: 8;
    flex-direction: column;
    padding-top: 50px;
}

.project_wrapper {
    display: flex;
    border: gray 3px inset;
    margin-bottom: 30px;
    flex-direction: column;
    background-color: #eeeeee;
    padding: 15px;
}

.collapse_project {
    position: relative;
    top: 0;
    left: 0;
}

.collapse_project img {
    background-color: white;
}

.collapse_project img:hover {
    cursor: pointer;
}

.project_summary_row {
    display: flex;
    flex-direction: row;
}

#oak_project_video {
    flex: 1;
}

.project_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 0 30px;
}

.project_languages {
    color: #423B41;
}

.project_title, .project_languages, .project_description {
    padding: 7px 0;
}

.project_title {
    text-align: center;
    align-self: stretch;
    color: black;
    font-size: 80px;
    margin: 5px 5px 0 0;
    padding: 15px 0 10px 0;
    transform: scale(2, 1);
    text-shadow: 2px 3px 4px saddlebrown;
}

.project_title_hr {
    margin-top: 0;
}

.project_features_heading, .todo_list_heading {
    font-size: 21px;
    padding: 5px 8px 10px 8px;
}

.project_feature_list li {
    padding: 0 20px 10px 20px;
    list-style-position: inside;
    list-style-type: square;
}

.todo_list li{
    list-style: none;
    padding: 0 20px 10px 20px;
}

.todo_list li input {
    margin-right: 10px;
}

.github_link:hover {
    color: blue;
}

@media only screen and (max-width: 490px) {

    .project_summary_row {
        flex-direction: column;
    }

    .project_info {
        padding: 20px 0;
    }
}