#sidebar {
    position: fixed;
    top: 25%;
    z-index: 0;
    margin-right: 5px;
    left: 25px;
}

#sidebar_icon_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    list-style: none;
}


#sidebar_icon_list li {
    padding-bottom: 50px;
    text-align: center;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar_icon:hover {
    cursor: pointer;
}

#sidebar_close {
    display: none;
}

.close {
    position: absolute;
    top: 32px;
    left: 8px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

#articles_sidebar_wrapper {
    min-width: 70px;
}

@media only screen and (max-width: 872px) {

    #sidebar {
        left: 10px;
    }

    #sidebar_icon_list li img {
        width: 40px;
        height: 40px;
    }

    #articles_sidebar_wrapper, #projects_sidebar_wrapper {
        min-width: 58px;
    }
}

@media only screen and (max-width: 656px) {

    #sidebar {
        display: none;
    }

    .page_margin {
        display: none;
    }
}