<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/modal.css"/>
    <link href="https://fonts.googleapis.com/css?family=Tajawal:500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

{{template "header.html"}}
<div id="about_me_page_wrapper" class="page_wrapper">

    <h2 id="about_title" class="page_title">About me</h2>
    <hr>

    <section id="about_me_section">
        <div class="page_margin"></div>
        <div id="about_me_content">
            <p>
                My journey into programming began in 2016. I am a musician and have a youtube channel where I share
                piano covers and some original pieces I have wrote. I decided to make a website to share sheet music,
                lessons and give people a way to get in contact with me. Wordpress just didn’t do it for me as I felt
                limited to what I could do and so decided to learn how to create a website from scratch. Helped along
                by youtube tutorials I slowly learnt some languages such as html, css, javascript and PHP. I found that
                I was enjoying the actual coding part of it a lot more than I thought and so decided to take Standord’s
                cs50 course on EDX which really ignited my passion for programming. My interests diverged into many
                different areas including more programming languages, operating systems, networks, artificial
                intelligence, math, data science and more. I have been on a learning quest ever since, directed in a
                large part by curiosity and the joy of solving problems.
            </p>
            <br>
            <p>
                My main interest at the moment is in artificial intelligence. I believe it is the technology that is
                going to revolutionise everything we do and that we are at the beginning of a paradigm shift. This shift
                will be the game changer and is commonly referred to as the next industrial revolution. The risks and
                rewards are huge and so other technologies that encourage decentralisation such as blockchain will also
                play a major role in this revolution. I think more than ever it is important to adapt and have a fluid
                skillset that can handle a fast changing technological landscape and that is where I want to focus my
                efforts.
            </p>
        </div>
        <div class="page_margin"></div>
    </section>

    </p>
</div>

<script type="text/javascript" src="/static/js/modal.js"></script>

</body>
</html>