<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/global-style.css"/>
    <link rel="stylesheet" href="/static/css/header-style.css"/>
    <link rel="stylesheet" href="/static/css/about-me-style.css"/>

    <link rel="stylesheet" href="/static/css/modal.css"/>
    <link href="https://fonts.googleapis.com/css?family=Tajawal:500|Noto+Sans|Oxygen" rel="stylesheet">
</head>
<body>

{{template "header.html"}}
<div id="about_me_page_wrapper" class="page_wrapper">

    <h2 id="about_title" class="page_title">About me</h2>
    <hr>

    <section id="about_me_section">
        <div class="page_margin"></div>
        <div id="about_me_content">

        </div>
        <div class="page_margin"></div>
    </section>

    </p>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/menu_selection.js"></script>
<script type="text/javascript" src="/static/js/modal.js"></script>
</html>