<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine|Oxygen" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/prism.css"/>
    <link rel="stylesheet" href="/static/css/prism-treeview.css"/>
    <link rel="stylesheet" href="/static/css/lity.min.css"/>

    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="/static/css/articles.css"/>
</head>
<body>
<div id="articles-page-container">
    <div class="top-menu-bar">
        <a href="home">Home</a>
        <a href="projects">Projects</a>
        <a href="contact">Contact</a>
        <a href="about">About</a>
    </div>
    <div class="current-article">
        {{template "go_client_communication.html"}}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/lity.js"></script>
<script src="/static/js/plugins/youtube/youtube.min.js"></script>
<script type="text/javascript" src="/static/js/article-generate.js"></script>
<script type="text/javascript" src="/static/js/prism.js"></script>
<script type="text/javascript" src="/static/js/prism-treeview.js"></script>
<script type="text/javascript" src="/static/js/article_search.js"></script>
<script type="text/javascript" src="/static/js/tag_control.js"></script>
<script type="text/javascript" src="/static/js/collapse_control.js"></script>

</body>
</html>