<div class="main_nav_beams"></div>

<div id="header_row">
    <h3 id="my_name">Ryan James</h3>
    <nav id="main_nav">
        <ul id="main_nav_list">
            <li class="main_menu_item"><a href="/">HOME</a></li>
            <li class="main_menu_item"><a href="/projects">PROJECTS</a></li>
            <li class="main_menu_item"><a href="/articles">ARTICLES</a></li>
            <li class="main_menu_item"><a href="/contact">CONTACT</a></li>
            <li class="main_menu_item"><a href="/about">ABOUT ME</a></li>
        </ul>
    </nav>
</div>

<div class="main_nav_beams"></div>
