<div class="main_nav_beams"></div>

<div id="header_row">
    <h3 id="name_heading"><a href="/">Ryan James</a></h3>
    <nav id="main_nav">
        <ul id="main_nav_list">
            <li class="main_menu_item"><a href="/">HOME</a></li>
            <li class="main_menu_item"><a href="/projects">PROJECTS</a></li>
            <li class="main_menu_item"><a href="/articles">ARTICLES</a></li>
            <li class="main_menu_item"><a href="/contact">CONTACT</a></li>
            <li class="main_menu_item"><a href="/about">ABOUT ME</a></li>
            <li id="menu_toggle">
                <input type="checkbox" name="burger_menu_checkbox"/>
                <span id="bar1"></span>
                <span id="bar2"></span>
                <span id="bar3"></span>

                <ul id="menu">
                    <li class="main_menu_dropdown_item"><a href="/">HOME</a></li>
                    <li class="main_menu_dropdown_item"><a href="/projects">PROJECTS</a></li>
                    <li class="main_menu_dropdown_item"><a href="/articles">ARTICLES</a></li>
                    <li class="main_menu_dropdown_item"><a href="/contact">CONTACT</a></li>
                    <li class="main_menu_dropdown_item"><a href="/about">ABOUT ME</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="main_nav_beams"></div>
