<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>

    <link href="https://fonts.googleapis.com/css?family=Tangerine|Oxygen" rel="stylesheet">

</head>
<body>
    <div id="home-page-container">
        <div id="home-left-half" class="grid-item">

            <div id="side-bar">
                <div id="menu-item-a" class="side-bar-grid-item"><a href="articles">Articles</a></div>
                <div id="menu-item-b" class="side-bar-grid-item"><a href="projects">Projects</a></div>
                <div id="menu-item-c" class="side-bar-grid-item"><a href="contact">Contact</a></div>
                <div id="menu-item-d" class="side-bar-grid-item"><a href="about">About</a></div>
            </div>

        </div>
        <div id="author-name-container" class="grid-item">
            <svg viewBox="0 0 250 250" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">

                <defs>
                    <style type="text/css">
                        @import url('https://fonts.googleapis.com/css?family=Tangerine');
                    </style>
                </defs>

                <text x="20" y="28" transform="scale(4, 4)" fill="#cdcdcd"
                      style="font-family: 'Tangerine', cursive;">Ryan</text>
                <text x="20" y="48" transform="scale(4, 4)" fill="#cdcdcd" style="font-family: 'Tangerine', cursive;">&nbsp&nbsp&nbspJames</text>
            </svg>
        </div>
    </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/menu_selection.js"></script>
</html>