<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/global-style.css"/>
    <link rel="stylesheet" href="/static/css/header-style.css"/>

    <link href="https://fonts.googleapis.com/css?family=Tajawal:500|Noto+Sans|Oxygen" rel="stylesheet">

</head>
<body>
<header>{{template "header.html"}}</header>
<div id="main_wrapper">

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/menu_selection.js"></script>
</html>