<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>
<header>{{template "header.html"}}</header>
<div id="main_wrapper">
    <section id="greeting_section">
        <p id="home_quote">"Success is the sum of small efforts, repeated day in and day out"</p>
        <p id="home_quote_author">- Robert Collier</p>
    </section>
</div>
</body>
</html>