<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" href="/static/css/global-style.css"/>
    <link rel="stylesheet" href="/static/css/header-style.css"/>
    <link rel="stylesheet" href="/static/css/projects-style.css"/>
    <link rel="stylesheet" href="/static/css/sidebar.css"/>

    <link href="https://fonts.googleapis.com/css?family=Tajawal:500|Noto+Sans|Oxygen" rel="stylesheet">

</head>
<body>

{{template "header.html"}}

<div id="projects_page_wrapper" class="page_wrapper">
    <!--SIDEBAR-->
    <div id="projects_sidebar_wrapper" class="page_margin">
        <div id="sidebar">
            <a id="sidebar_close" href="#" class="close"></a>

            <ul id="sidebar_icon_list">
                <li><img class="sidebar_icon" src="/static/images/search_icon_black.png" width="50px" height="50px"></li>
                <li><img class="sidebar_icon" src="/static/images/calendar.png" width="50px" height="50px"></li>
                <li><img class="sidebar_icon" src="/static/images/share.png" width="50px" height="50px"></li>
                <li><img class="sidebar_icon" src="/static/images/tag_icon.png" width="50px" height="50px"></li>
            </ul>

            <ul id="projects_tag_list"></ul>
        </div>
    </div>

    <!--ARTICLE CONTENt-->
    <div id="project_list">
        <section id="oak_project" class="project_wrapper" xmlns="http://www.w3.org/1999/html">
            <div class="collapse_project"><img src="/static/images/collapse_icon.png" width="20px" height="20px"></div>
            <div class="expand_project hidden"><img src="/static/images/expand_icon.png" width="20px" height="20px"></div>            {{template "oak.html" .}}
        </section>
    </div>

    <div class="page_margin"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/article-generate.js"></script>
<script type="text/javascript" src="/static/js/menu_selection.js"></script>
<script type="text/javascript" src="/static/js/prism.js"></script>
<script type="text/javascript" src="/static/js/prism-treeview.js"></script>
<script type="text/javascript" src="/static/js/article_search.js"></script>
<script type="text/javascript" src="/static/js/tag_control.js"></script>
<script type="text/javascript" src="/static/js/sidebar.js"></script>
<script type="text/javascript" src="/static/js/collapse_control.js"></script>

</body>
<script>get_current_page_name()</script>
</html>