<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Tajawal:500" rel="stylesheet">
</head>
<body>
{{template "header.html"}}
<div id="projects_page_wrapper" class="page_wrapper">

    <div id="project_list_wrapper">
        <div class="page_margin"></div>
            <!--Project list will be injected into 'projects_list'-->
        <div id="projects_list">

            {{template "oak.html" .}}

        </div>
        <div class="page_margin"></div>
    </div>
</div>
</body>
</html>