<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine|Oxygen" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/lity.min.css"/>
    <link rel="stylesheet" href="/static/css/global.css"/>
    <link rel="stylesheet" href="/static/css/projects.css"/>
</head>
<body>
    <div id="project-page-container">
        <div class="top-menu-bar">
            <a href="home">Home</a>
            <a href="articles">Articles</a>
            <a href="contact">Contact</a>
            <a href="about">About</a>
        </div>
        <div class="current-project">
            {{template "oak.html" .}}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/lity.js"></script>
<script src="/static/js/plugins/youtube/youtube.min.js"></script>
</body>
</html>